.banner-wrapper {
  margin: 72px 0;
  padding: 70px;
  padding-bottom: 0;
  background-color: #4640de;
}

.banner-flex {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.banner-flex .title {
  font-size: 48px;
  line-height: 52px;
  font-weight: 600;
  color: white;
}

.banner-flex .subtitle {
  color: white;
  margin: 24px 0;
}

.banner-flex .img-dashboard {
  width: 564px;
  height: 350px;
  display: block;
}

.banner-flex .btn-signup {
  background-color: #fff;
  color: #4640de;
  font-weight: 600;
}
