.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.header .title {
  font-size: 48px;
  font-weight: 600;
  color: #25324b;
}

.header .title span {
  color: #26a4ff;
}

.btn-detail {
  color: #4640de;
}
