.hero-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.secti0n-1 {
  width: 50%;
  position: relative;
}

.section-1 .wording img {
  width: 450px;
  height: 50px;
}

.section-1 .title {
  font-weight: 600;
  font-size: 72px;
  line-height: 79px;
}

.section-1 .description {
  font-size: 20px;
  color: #515b6f;
  line-height: 32px;
  margin: 23px 0;
}

.section-1 .title span {
  color: #26a4ff;
}

.section-2 {
  width: 50%;
}

.section-2 img {
  display: block;
  margin-left: auto;
  width: 500px;
  height: 650px;
}
