@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,700&display=swap");

body {
  margin: 0;
  padding: 0 124px;
  font-family: "Epilogue", sans-serif;
}
